.button-style {
    position: relative;
    padding: 7px 30px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    transition: border-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.button-style:hover {
    transform: scale(1.03);
}