@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.gradient-text {
  background: rgb(6, 182, 213);
  background: linear-gradient(90deg, rgba(6, 182, 213, 1) 0%, rgba(13, 167, 230, 1) 45%, rgba(58, 130, 245, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.custom-code {
  background-color: transparent !important;
  padding: 0 !important;
}

.custom-pre {
  margin: 0;
  background-color: transparent !important;
  border-radius: 0;
  padding: 0;
  overflow-y: auto;
  max-height: 20rem;
}

.custom-scroll {
  scrollbar-color: transparent;
  border-radius: 15px;
}

.custom-scroll::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
  /* Cor de fundo da trilha do scrollbar */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #334155;
  /* Cor do thumb do scrollbar */
  border-radius: 15px;
  /* Borda arredondada para o thumb */
}

@keyframes float {
  0%,
  100% {
    transform: translateY(-0.5rem);
  }
  50% {
    transform: translateY(0.5rem);
  }
}

.floating {
  animation: float 3s ease-in-out infinite;
}

.animate-slide {
  animation: slideOut 0.6s forwards; 
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    visibility: visible;
  }
  100% {
    transform: translateX(-100vw);
    visibility: hidden;
  }
}

.animate-entrance {
  animation: slideInFromLeft 0.6s forwards;
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cardPurple {
  background: linear-gradient( #8c8afc, #282781);
}

.cardRed {
  background: linear-gradient( #ff4242, #6d0315);
}

.cardBlue {
  background: linear-gradient( #51DAF1, #135763);
}

.cardPink {
  background: linear-gradient( #fa6fc2, #5e2647);
}

.cardGreen {
  background: linear-gradient( #00ffd5, #14574c);
}