.markdown-body {
    font-size: 18px;
}

@media (max-width: 1024px) {
    .markdown-body {
        font-size: 16px;
    }
}

.markdown-body h3 {
    font-size: 1.65em;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.025em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.markdown-body h4 {
    font-size: 1.15em;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.025em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.markdown-body ul,
.markdown-body ol {
    padding-left: 2em;
    list-style-position: inside; 
}

.markdown-body ul {
    list-style-type: disc; 
}


.markdown-body ol {
    list-style-type: decimal; 
}

.light .markdown-body li {
    margin: 0.5em 0;
    color: #637184;
}

.dark .markdown-body li {
    margin: 0.5em 0;
    color: #A4ADB9;
}

.light .markdown-body li strong {
    color: black;
}

.dark .markdown-body li strong {
    color: whitesmoke;
}

.light .markdown-body p {
    color: #637184;
    width: 100%;
}

.dark .markdown-body p {
    color: #A4ADB9;
    width: 100%;
}

.markdown-body img {
    margin: 1em auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.light .markdown-body code {
    border: 1px solid #e9e9e9;
    background-color: #F9F9F9;
    color: #4e5866;
    border-radius: 5px;
    padding: 0 5px;
    overflow-x: auto;
}

.dark .markdown-body code {
    background-color: #0F172A;
    border: 1px solid #151d2b;
    color: #d4d8dd;
    border-radius: 5px;
    padding: 0 5px;
    overflow-x: auto;
}

.light .markdown-body pre {
    background-color: #F9F9F9;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #e9e9e9;
    margin: 1.5em 0;
    overflow-x: auto;
    color: black;
}

.dark .markdown-body pre {
    background-color: #0F172A;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #151d2b;
    margin: 1.5em 0;
    overflow-x: auto;
}

.light .markdown-body pre code {
    border: none;
    overflow-x: auto;
}

.dark .markdown-body pre code {
    border: none;
    overflow-x: auto;
}
