.gradient-shadow {
    position: relative;
    padding: 7px 40px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    transition: border-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.gradient-shadow:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.7), rgba(0, 255, 0, 0.7), rgba(0, 0, 255, 0.7));
    /* Gradiente RGB */
    transform: translate3d(0px, 0px, 0) scale(1.1);
    filter: blur(10px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

.gradient-shadow:after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}

.gradient-shadow:hover {
    transform: scale(1.03);
}